/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Contenedores */
.container-employee {
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Container principal */
.container1 {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    overflow-y: auto;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-width: 400px;
}



.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content input,
.modal-content select {

    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

.buttons-registrar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #45a049;
}

.close {
    color: #aaa;
    font-size: 28px;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Tabla de usuarios */
table.usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.usuarios-table th,
table.usuarios-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table.usuarios-table th {
    background-color: #007bff;
    font-weight: bold;
    color: #ffffff;
}

table.usuarios-table td button {
    margin: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table.usuarios-table .edit-btn {
    background-color: #007bff;
    color: white;
}

table.usuarios-table .delete-btn {
    background-color: #f44336;
    color: white;
}

table.usuarios-table .edit-btn:hover {
    background-color: #0b7dda;
}

table.usuarios-table .delete-btn:hover {
    background-color: #da190b;
}

/* Estilos para el formulario */
form .controls,
.input-field,
.select-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form .error {
    color: red;
    font-size: 12px;
}

form .success {
    color: green;
    font-size: 14px;
}

form .btn-registrar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .btn-registrar:hover {
    background-color: #45a049;
}

/* Botones para abrir los modales */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#viewEmployeesBtn {
    background-color: #2196F3;
}

#viewEmployeesBtn:hover {
    background-color: #0b7dda;
}

/* Estilo para el formulario de agregar empleado */
.form-container {
    padding: 20px;
}




.edit-btn i,
.delete-btn i {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

/* Botones de agregar y eliminar empleado */
.add-employee-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-employee-button:hover {
    background-color: #45a049;
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: none;
    /* Por defecto está oculto */
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}